<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employees</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" th:href="@{/css/employee.css}">
  <script src="https://kit.fontawesome.com/cda29b3762.js" crossorigin="anonymous" defer></script>
  <script type="text/javascript" th:src="@{/js/employee.js}" defer></script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/employees" class="navbar-brand p-2">Employee Management System</a>
  </nav>
</header>
<main class="mt-3 mx-auto w-75">
  <h3>Employees list</h3>
  <div class="my-2 d-flex justify-content-between">
    <a href="/employees/save-employee" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add Employee</a>
    <form class="justify-content-end" th:action="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}" method="get">
      <div class="input-group">
        <div class="form-outline rounded-left"><input type="search" id="search-bar" placeholder="Search" class="form-control"/></div>
        <button type="submit" class="btn btn-dark rounded-right" id="search-button"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>
        <a class="thead-link" th:if="${sortDirection eq 'asc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=name&sortDirection=' + ${switchedSortDirection}}">Name&ensp;<i
                th:if="${sortField eq 'name'}" class="fa-solid fa-angle-down"></i></a>
        <a class="thead-link" th:if="${sortDirection eq 'desc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=name&sortDirection=' + ${switchedSortDirection} }">Name&ensp;<i
                th:if="${sortField eq 'name'}" class="fa-solid fa-angle-up"></i></a>
      </th>
      <th>
        <a class="thead-link" th:if="${sortDirection eq 'asc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=email&sortDirection=' + ${switchedSortDirection}}">Email&ensp;<i
                th:if="${sortField eq 'email'}" class="fa-solid fa-angle-down"></i></a>
        <a class="thead-link" th:if="${sortDirection eq 'desc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=email&sortDirection=' + ${switchedSortDirection}}">Email&ensp;<i
                th:if="${sortField eq 'email'}" class="fa-solid fa-angle-up"></i></a>
      </th>
      <th>
        <a class="thead-link" th:if="${sortDirection eq 'asc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=employeeType&sortDirection=' + ${switchedSortDirection}}">Job Type&ensp;<i
                th:if="${sortField eq 'employeeType'}" class="fa-solid fa-angle-down"></i></a>
        <a class="thead-link" th:if="${sortDirection eq 'desc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=employeeType&sortDirection=' + ${switchedSortDirection}}">Job Type&ensp;<i
                th:if="${sortField eq 'employeeType'}" class="fa-solid fa-angle-up"></i></a>
      </th>
      <th>
        <a class="thead-link" th:if="${sortDirection eq 'asc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=position&sortDirection=' + ${switchedSortDirection}}">Position&ensp;<i
                th:if="${sortField eq 'position'}" class="fa-solid fa-angle-down"></i></a>
        <a class="thead-link" th:if="${sortDirection eq 'desc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=position&sortDirection=' + ${switchedSortDirection}}">Position&ensp;<i
                th:if="${sortField eq 'position'}" class="fa-solid fa-angle-up"></i></a>
      </th>
      <th>
        <a class="thead-link" th:if="${sortDirection eq 'asc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=grade&sortDirection=' + ${switchedSortDirection}}">Grade&ensp;<i
                th:if="${sortField eq 'grade'}" class="fa-solid fa-angle-down"></i></a>
        <a class="thead-link" th:if="${sortDirection eq 'desc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=grade&sortDirection=' + ${switchedSortDirection}}">Grade&ensp;<i
                th:if="${sortField eq 'grade'}" class="fa-solid fa-angle-up"></i></a>
      </th>
      <th>
        <a class="thead-link" th:if="${sortDirection eq 'asc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=mentor&sortDirection=' + ${switchedSortDirection}}">Mentor&ensp;<i
                th:if="${sortField eq 'mentor'}" class="fa-solid fa-angle-down"></i></a>
        <a class="thead-link" th:if="${sortDirection eq 'desc'}"
           th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage} + '&sortField=mentor&sortDirection=' + ${switchedSortDirection}}">Mentor&ensp;<i
                th:if="${sortField eq 'mentor'}" class="fa-solid fa-angle-up"></i></a>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee: ${employees}">
      <td th:text="${employee.name}"></td>
      <td th:text="${employee.email}"></td>
      <td th:text="${employee.employeeType}"></td>
      <td th:text="${employee.position}"></td>
      <td th:text="${employee.grade}"></td>
      <td th:text="${employee.mentor.name}"></td>
      <td>
        <a th:href="@{/employees/update-employee/{id}(id=${employee.employeeId})}" class="btn btn-sm btn-secondary"><i class="fa-solid fa-pen"></i>&ensp;Update</a>
        <a th:href="@{/employees/delete-employee/{id}(id=${employee.employeeId})}" class="btn btn-sm btn-danger delete-button"><i class="fa-solid fa-trash"></i>&ensp;Delete</a>
        <a th:href="@{/employees/{id}(id=${employee.employeeId})}" class="btn btn-sm btn-info"><i class="fa-solid fa-circle-info"></i>&ensp;View details</a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="page-navigation">
    <div th:if="${totalPages > 1}" class="d-flex justify-content-between">
      <div>Total employees: <span th:text="${totalEmployees}"></span></div>
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=1&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">First</a>
          <a class="page-link" th:unless="${currentPage > 1}" th:disabled>First</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:if="${currentPage > 1}"
             th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage - 1} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">Previous</a>
          <a class="page-link" th:unless="${currentPage > 1}" th:disabled>Previous</a>
        </li>
        <span th:if="${currentPage == 1 and totalPages > 3}" th:each="page:${#numbers.sequence(1, 3)}">
          <li class="page-item">
            <a class="page-link" th:if="${currentPage != page}" th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${page} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">[[${page}]]</a>
            <a class="page-link" th:unless="${currentPage != page}" th:disabled>[[${page}]]</a>
          </li>
        </span>
        <span th:if="${currentPage == 1 and totalPages <= 3}" th:each="page:${#numbers.sequence(1, totalPages)}">
          <li class="page-item">
            <a class="page-link" th:if="${currentPage != page}" th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${page} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">[[${page}]]</a>
            <a class="page-link" th:unless="${currentPage != page}" th:disabled>[[${page}]]</a>
          </li>
        </span>
        <span th:if="${currentPage > 1 and totalPages > 3}" th:each="page:${#numbers.sequence(currentPage - 1, currentPage + 1)}">
          <li class="page-item">
            <a class="page-link" th:if="${currentPage != page}" th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${page} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">[[${page}]]</a>
            <a class="page-link" th:unless="${currentPage != page}" th:disabled>[[${page}]]</a>
          </li>
        </span>
        <span th:if="${currentPage > 1 and totalPages <= 3}" th:each="page:${#numbers.sequence(currentPage - 1, totalPages)}">
          <li class="page-item">
            <a class="page-link" th:if="${currentPage != page}" th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${page} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">[[${page}]]</a>
            <a class="page-link" th:unless="${currentPage != page}" th:disabled>[[${page}]]</a>
          </li>
        </span>
        <span th:if="${currentPage > totalPages - 3 and totalPages > 3}" th:each="page:${#numbers.sequence(totalPages - 2, totalPages)}">
          <li class="page-item">
            <a class="page-link" th:if="${currentPage != page}" th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${page} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">[[${page}]]</a>
            <a class="page-link" th:unless="${currentPage != page}" th:disabled>[[${page}]]</a>
          </li>
        </span>
        <li class="page-item">
          <a class="page-link" th:if="${currentPage < totalPages}"
             th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${currentPage + 1} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">Next</a>
          <a class="page-link" th:unless="${currentPage < totalPages}" th:disabled>Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:if="${currentPage < totalPages}"
             th:href="@{'/employees/page?pageSize=' + ${pageSize} + '&pageNumber=' + ${totalPages} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&searchedName=' + ${searchedName}}">Last</a>
          <a class="page-link" th:unless="${currentPage < totalPages}" th:disabled>Last</a>
        </li>
      </ul>
    </div>
  </nav>
</main>
<footer class="text-center text-lg-start bg-dark position-fixed fixed-bottom">
  <div class="text-white p-3">© Copyright <span th:text="${#dates.year(#dates.createNow())}"></span> - Gabriel Faur</div>
</footer>
</body>
</html>