<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/layout :: head('Save Employee')}"></head>
<body>
<header th:replace="~{/fragments/layout :: header}"></header>
<main class="container my-3">
    <div class="card px-4">
        <h3 th:if="${employeeId == -1}" class="text-center">Add employee</h3>
        <h3 th:unless="${employeeId == -1}" class="text-center">Update employee</h3>
        <div class="card-body">
            <form th:action="@{/employees/save-employee/{id}(id=${employeeId})}" method="post" th:object="${employeeDto}">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" id="name" th:field="*{name}" placeholder="Enter name" class="form-control" required>
                        <label for="email" class="mt-3">Email <span class="text-danger font-weight-bold">*</span></label>
                        <input type="email" id="email" th:field="*{email}" placeholder="Enter email"
                               class="form-control" required>
                        <label for="mobile" class="mt-3">Mobile <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" id="mobile" th:field="*{mobile}" placeholder="Enter mobile"
                               class="form-control" required>
                        <label for="address" class="mt-3">Address <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" id="address" th:field="*{address}" placeholder="Enter address"
                               class="form-control" required>
                        <label for="birthday" class="mt-3">Birthday <span class="text-danger font-weight-bold">*</span></label>
                        <input type="date" id="birthday" th:field="*{birthday}" placeholder="Enter birthday"
                               class="form-control" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="job-type">Job type <span class="text-danger font-weight-bold">*</span></label>
                        <select id="job-type" th:field="*{jobType}" class="custom-select form-control" required>
                            <option value="" hidden>---Choose job type---</option>
                            <option th:each="jobTypeValue : ${T(com.project.it.employee.enums.jobType).values()}"
                                    th:text="${jobTypeValue}" th:value="${jobTypeValue}"></option>
                        </select>
                        <label for="position" class="mt-3">Position <span class="text-danger font-weight-bold">*</span></label>
                        <select id="position" th:field="*{position}" class="custom-select form-control" required>
                            <option value="" hidden>---Choose position---</option>
                            <option th:each="positionValue : ${T(com.project.it.employee.enums.Position).values()}"
                                    th:text="${positionValue}" th:value="${positionValue}"></option>
                        </select>
                        <label for="grade" class="mt-3">Grade <span class="text-danger font-weight-bold">*</span></label>
                        <select id="grade" th:field="*{grade}" class="custom-select form-control" required>
                            <option value="" hidden>---Choose grade---</option>
                            <option th:each="gradeValue : ${T(com.project.it.employee.enums.Grade).values()}"
                                    th:text="${gradeValue}" th:value="${gradeValue}"></option>
                        </select>
                        <label for="mentor-id" class="mt-3">Mentor id</label>
                        <input type="text" id="mentor-id" th:field="*{mentorId}" placeholder="Enter mentor id"
                               class="form-control">
                        <label for="studies-id" class="mt-3">Studies id</label>
                        <input type="text" id="studies-id" th:field="*{studiesId}"
                               placeholder="Enter studies id"
                               class="form-control">
                    </div>
                </div>
                <button th:if="${employeeId == -1}" type="submit" class="btn btn-success" style="width: 15%">Add</button>
                <button th:unless="${employeeId == -1}" type="submit" class="btn btn-success" style="width: 15%">Update</button>
                <a th:href="@{/employees}" type="button" class="btn btn-danger ml-2" style="width: 15%">Cancel</a>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{/fragments/layout :: footer}"></footer>
</body>
</html>